.App {
  text-align: center;
}

.App-header {
  border-bottom: 1px solid #282c34;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
  padding: 0.1rem 1rem;
}

.App-main {
  display: flex;
  justify-content: space-around;
}

button {
  padding: 0.5rem 1rem;
}
